body {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    margin: 20px auto;
    max-width: 600px;
}

.logo {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.accent {
    color: #AE1819;
}
.sublogo {
    font-size: 2rem;
    text-align: center;
}

.sublogo-line {
    position: relative;
    display: inline-block;
}
.sublogo-line:after {
    content: '';
    width: 3rem;
    height: 15px;
    background: #AE1819;
    position: absolute;
    left: 0;
    top: 1.3rem;
    transform: rotate(-30deg);
}
.btn-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.btn {
    display: block;
    background: #eee;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 15px;
    transition: .45s;
}

.btn:hover {
    background: #d5d5d5;
    transform: scale(1.1);
}

.video-wrapper video {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .7);
    border-radius: 20px;
}

.post {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
}